---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, 宇宙</h1>
			<p>
			凡事有因果，万事有轮回。
			</p>
			<p>
				起心动念皆是因，当下所受皆是果。
			</p>
	
	
		
		</main>
		<Footer />
	</body>
</html>
